* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

p {
    margin-bottom: 1.6rem;
    line-height: 1.5;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    /* para separar los iconos*/
    align-items: center;
}

.header {
    background: #333;
    padding: 1rem 0;
    position: fixed;
    /*mantener el encabezado sin moverse*/
    left: 0;
    top: 0;
    right: 0%;
    /* tambien se puede usar widht al 100% */
    background-color: black;
    border: 0;
    overflow: hidden;
    border-bottom: none;
}

.contenedor #simbolo {
    float: left;
    width: 100px;
    height: 25px;
    background: url("Imagenes/simbolo.png") no-repeat;
    margin-top: 0.1rem;
    margin-left: 2.5rem;
    transition: all 0.3s ease;
}

.contenedor #simbolo:hover {
    background: url("Imagenes/simbolo.gif") no-repeat;
    transition: all 0.3s ease;
}

.header a {
    color: gray;
    text-decoration: none;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    padding: 0.5rem 1rem;
}

.menu ul li a:hover {
    color: white;
}

.main {
    padding-top: 4rem;
    /*el espacio que quita el encabezado por ser fijo*/
}

.seccion1 {
    background-image: url('Imagenes/fondo.jpg');
    height: 600px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.seccion1 a {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    padding: 20px;
    border: 1px solid;
    text-align: center;
    border-color: white;
    color: white;
    text-decoration: none;
}

.contenedor1 {
    width: 85%;
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
}

.seccion2 h2 {
    margin-top: 3.5rem;
}

.subrayado {
    width: 4rem;
    display: inline-table;
    height: .05rem;
    background: black;
}

.texto {
    padding: 3rem 0rem;
    /* toma el valor de arriba y abajo mas no de la derecha e izq*/
}

.team img {
    border-radius: 50%;
    margin-top: 2rem;
}

.team h4 {
    margin-top: 2rem;
}

.team h6 {
    color: gray;
}

.team p {
    color: gray;
    font-size: 13px;
    margin-bottom: 0px;
    padding: 0 1rem;
    margin-top: 1rem;
}

.team .fab {
    color: black;
    margin-top: 0rem;
}

.PartesMenu {
    background-color: black;
    margin-top: 4rem;
    padding: 40px;
}

.fondo {
    background-color: rgb(228, 229, 235);
}

.contenedor2 {
    width: 85%;
    max-width: 900px;
    margin: 0px auto;
}

.contenedor2 table {
    padding: 2rem 0;
    margin: 0;
}

.contenedor2 td {
    overflow: hidden;
}

.contenedor2 img {
    float: left;
    text-align: center;
    max-width: 425px;
    max-height: 425px;
    transition: all 5s ease;
}

.contenedor2 img:hover {
    transform: scale(1.2);
    transition: all 5s ease;
}

.contenedor2 h2 {
    text-align: left;
    padding: 0 2.5rem;
}

.contenedor2 p {
    text-align: left;
    padding: 2.5em;
    line-height: 1;
}

.form {
    box-sizing: border-box;
    color: gray;
    padding: 4rem 0;
    display: grid;
    /* dividir el formulario*/
    grid-template-columns: 4fr 1fr;
}

.contacto-form p {
    padding: 0;
}

.contacto-form form {
    /*margin: 0rem;*/
    padding: 1.2em;
}

.contacto-form #submit {
    width: 104%;
    padding: .7em;
    border: none;
    background: rgb(236, 234, 234);
    text-transform: uppercase;
    color: gray;
}

.contacto-form input {
    width: 100%;
    padding: .7em;
    border: none;
    border-bottom: 2px solid gray;
}

.contacto-form textarea {
    width: 100%;
    padding: .7em;
    border-bottom: 1px solid gray;
}

.contacto-info ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contacto-info h4 {
    color: black;
}

.contacto-info h4,
.contacto-info ul {
    margin: .5em;
    margin-left: 4em;
}

.contacto-info a {
    text-decoration: none;
    color: gray;
}

.footer {
    background-color: black;
    margin-top: 0rem;
    padding: .5rem;
    color: gray;
    text-align: center;
}

.Return i {
    color: rgba(85, 83, 83, 0.842);
}

.Enlaces i {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(85, 83, 83, 0.842);
    color: #232323;
    font-size: inherit;
    display: block;
    display: inline;
    text-align: center;
    margin: .5rem;
}

.Enlaces i:hover {
    background: white;
}